@font-face {
  font-family: "iconfont"; /* Project id 3214920 */
  src: url('iconfont.woff2?t=1646383271019') format('woff2'),
       url('iconfont.woff?t=1646383271019') format('woff'),
       url('iconfont.ttf?t=1646383271019') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfonticonfontmembers:before {
  content: "\e641";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-switchuser:before {
  content: "\e8ea";
}

.icon-user1:before {
  content: "\e606";
}

.icon-search:before {
  content: "\e600";
}

.icon-tishi:before {
  content: "\e654";
}

.icon-search1:before {
  content: "\e601";
}

.icon-activity_fill:before {
  content: "\e6de";
}

.icon-barrage_fill:before {
  content: "\e6e3";
}

.icon-coordinates_fill:before {
  content: "\e6ec";
}

.icon-createtask_fill:before {
  content: "\e6ee";
}

.icon-document_fill:before {
  content: "\e6f3";
}

.icon-enterinto_fill:before {
  content: "\e6f9";
}

.icon-headlines_fill:before {
  content: "\e700";
}

.icon-order_fill:before {
  content: "\e713";
}

.icon-qrcode_fill:before {
  content: "\e71c";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-arrow-down:before {
  content: "\e666";
}

.icon-ashbin:before {
  content: "\e667";
}

.icon-arrow-right:before {
  content: "\e668";
}

.icon-bottom:before {
  content: "\e669";
}

.icon-back:before {
  content: "\e66a";
}

.icon-arrow-double-left:before {
  content: "\e66b";
}

.icon-arrow-left-circle:before {
  content: "\e66c";
}

.icon-arrow-double-right:before {
  content: "\e66d";
}

.icon-chart-bar:before {
  content: "\e66e";
}

.icon-close:before {
  content: "\e66f";
}

.icon-check-item:before {
  content: "\e670";
}

.icon-comment:before {
  content: "\e671";
}

.icon-column-horizontal:before {
  content: "\e672";
}

.icon-complete:before {
  content: "\e673";
}

.icon-chart-pie:before {
  content: "\e674";
}

.icon-direction-down:before {
  content: "\e675";
}

.icon-copy:before {
  content: "\e676";
}

.icon-data-view:before {
  content: "\e677";
}

.icon-direction-down-circle:before {
  content: "\e678";
}

.icon-direction-right:before {
  content: "\e679";
}

.icon-direction-up:before {
  content: "\e67a";
}

.icon-direction-left:before {
  content: "\e67b";
}

.icon-elipsis:before {
  content: "\e67c";
}

.icon-edit:before {
  content: "\e67d";
}

.icon-file-common:before {
  content: "\e67e";
}

.icon-file-delete:before {
  content: "\e67f";
}

.icon-file-add:before {
  content: "\e680";
}

.icon-fabulous:before {
  content: "\e681";
}

.icon-file:before {
  content: "\e682";
}

.icon-home:before {
  content: "\e683";
}

.icon-map:before {
  content: "\e684";
}

.icon-menu:before {
  content: "\e685";
}

.icon-loading:before {
  content: "\e686";
}

.icon-modular:before {
  content: "\e687";
}

.icon-notification:before {
  content: "\e688";
}

.icon-more:before {
  content: "\e689";
}

.icon-minus:before {
  content: "\e68a";
}

.icon-navigation:before {
  content: "\e68b";
}

.icon-refresh:before {
  content: "\e68c";
}

.icon-picture:before {
  content: "\e68d";
}

.icon-save:before {
  content: "\e68e";
}

.icon-sign-out:before {
  content: "\e68f";
}

.icon-select:before {
  content: "\e690";
}

.icon-success:before {
  content: "\e691";
}

.icon-setting:before {
  content: "\e692";
}

.icon-add-bold:before {
  content: "\e693";
}

.icon-arrow-left-bold:before {
  content: "\e694";
}

.icon-arrow-up-bold:before {
  content: "\e695";
}

.icon-close-bold:before {
  content: "\e696";
}

.icon-arrow-down-bold:before {
  content: "\e697";
}

.icon-minus-bold:before {
  content: "\e698";
}

.icon-arrow-right-bold:before {
  content: "\e699";
}

.icon-select-bold:before {
  content: "\e69a";
}

.icon-arrow-up-filling:before {
  content: "\e69b";
}

.icon-arrow-down-filling:before {
  content: "\e69c";
}

.icon-arrow-left-filling:before {
  content: "\e69d";
}

.icon-arrow-right-filling:before {
  content: "\e69e";
}

.icon-comment-filling:before {
  content: "\e69f";
}

.icon-check-item-filling:before {
  content: "\e6a0";
}

.icon-news-filling:before {
  content: "\e6a1";
}

.icon-user-filling:before {
  content: "\e6a2";
}

.icon-setting-filling:before {
  content: "\e6a3";
}

.icon-success-filling:before {
  content: "\e6a4";
}

.icon-warning-filling:before {
  content: "\e6a5";
}

.icon-map-filling:before {
  content: "\e6a6";
}

.icon-sorting:before {
  content: "\e6a7";
}

