#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

$bgColor: #fff;
$headerBgColor: #13418e;
$bottomBgColor: #fff;
$color: #f7f8fa;
