@import './variable.scss';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.login {
  width: 100vw;
  height: 100vh;
  background: $bg-color-login;
}

// vant
.van-icon {
  font-size: 24px;
}
.van-dropdown-menu__bar {
  box-shadow: none;
}
.van-ellipsis {
  color: #7d8084;
  font-size: 14px;
  font-weight: bold;
}
.van-field__error-message {
  font-size: 12px !important;
}

.van-search {
  background-color: rgba(255, 255, 255, 0);
}

// nav active Color
.activeColor {
  color: $activeColor;
  font-weight: bold;
}

// search page
.search-page {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2001;
}